gradle.properties
target
.settings
.classpath
.project
.checkstyle
*.log
.DS_Store
.springBeans
*.log
*.DS_Store
*.pyc
velocity.log
.DS_Store
*~
.idea
build
.gradle
.metadata
bin/
*.iml
bin/
config.propierties
.metadata/
.metadata
metadata/
bower_components/
node_modules/
